header {
  background-color: var(--_lumo-button-primary-background-color, var(--lumo-primary-color));
  color: white;
}

h1,h2 {
  color: var(--lumo-header-text-color)
}

header div h1 {
  color: white;
}

header a span {
  color: white;
}

header nav a:any-link {
  text-decoration: none;
  padding: 0 var(--lumo-space-s);
  border-radius: var(--lumo-border-radius-m);
  outline: 0;
}

header nav a:hover {
  color: var(--lumo-contrast-50pct);
  background-color: var(--lumo-contrast-30pct);
}

header nav a:active {
 background-color: var(--lumo-contrast-5pct);
}

header nav a:focus-visible {
  box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
}

header nav a[highlight] span {
}

header nav a[highlight] {
  background-color: var(--lumo-contrast-40pct);
}
